.multi-select {
  .ant-tag {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 2px 8px;
    margin-bottom: 4px;
  }
  .ant-tag-close-icon {
    color: red;
    font-size: 11px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    font-size: 14px;
    border-radius: 4px;
  }
  .ant-select-selector {
    min-height: 44px;
  }
  .ant-select-single .ant-select-selector {
    align-items: center;
  }
  .ant-select-selection-item {
    text-align: left;
  }
  .ant-select-multiple .ant-select-selection-placeholder {
    text-align: left;
    padding-left: 6px;
  }
  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: #000 !important;
    cursor: auto !important;
    input {
      cursor: auto !important;
    }
  }
}
