.ant-menu-submenu-title {
  padding-left: 12px !important;
  font-weight: 400 !important;
}
.ant-menu-item {
  padding-left: 12px !important;
}

.ant-menu-submenu {
  .ant-menu-item {
    padding-left: 28px !important;
    line-height: 32px !important;
  }
}

.ant-layout-sider {
  width: 220px !important;
  min-width: 220px !important;
}

.ant-layout-sider {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #dfdfdf;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #b9b9b9;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 34px;
}

.input-text, .input-text:focus {
  border-width: 0 !important;
  border-bottom: solid 1px #938e8e !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  outline: none;
  box-shadow: none !important;
}